/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    margin: 0;
}

header {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #495057;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 500px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }
}

/* Button Styles */
.register-button,
.login-button,
.logout-button,
.update-button {
    background-color: #13d0e1; /* Green color */
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Remove underline for links */
}

.register-button:hover,
.login-button:hover,
.logout-button:hover,
.update-button:hover {
    background-color: #283da7; /* Darker green color on hover */
}
/* Dashboard Container */
.dashboard-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px 0;
}

/* Dashboard Heading */
.dashboard-container h2 {
    font-size: 24px;
    color: #343a40;
    margin-bottom: 20px;
}

/* Dashboard User Information */
.dashboard-container p {
    font-size: 16px;
    color: #495057;
    margin-bottom: 10px;
}

/* Dashboard Action Buttons */
.dashboard-container a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #13d0e1;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dashboard-container a:hover {
    background-color: #283da7;
}
