<!-- dashboard.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
    <!-- Navigation Bar -->
    {% include 'navbar.html' %}

    <!-- User Profile Section -->
    <section class="dashboard-container">
        <h2>Welcome to Your Dashboard, {{ user[4] }}</h2>

        <!-- Display user information -->
        <div>
            <p>User ID: {{ user[0] }}</p>
            <p>Username: {{ user[1] }}</p>
            <p>Email: {{ user[3] }}</p>
            <p>First Name: {{ user[4] }}</p>
            <p>Last Name: {{ user[5] }}</p>
            <p>Date of Birth: {{ user[6] }}</p>
            <p>Phone: {{ user[7] }}</p>
        </div>
        <!-- Add more details as needed -->

    </section>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 singu/\arity</p>
    </footer>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Silgularity_Social_Network"
  agent-id="1fcde105-e2fe-4dc8-b845-20624430c227"
  language-code="en"
></df-messenger>
</body>

</html>
