<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singu/\arity - News Feed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='feed.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <!-- Header -->
    <header>
        <h1>singu/\arity</h1>
        <p>Connect and Share</p>
    </header>

    <!-- News Feed Section -->
    <section class="news-feed">
        <h2>News Feed</h2>
        <br>
        <!-- Container for displaying posts -->
        <div id="postsContainer" class="news">
            <!-- Posts will be dynamically added here using JavaScript -->
        </div>
    </section>
    

    <!-- In Case You Missed It Section -->
    <section>
        <h2>In Case You Missed It</h2>
        <p>Highlight some posts or updates...</p>
    </section>
    

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 singu/\arity</p>
    </footer>

    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Include your custom JavaScript file for feed -->
    <script src="{{ url_for('static', filename='feed.js') }}"></script>


    <!-- Include Dialogflow messenger -->
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
        intent="WELCOME"
        chat-title="Silgularity_Social_Network"
        agent-id="1fcde105-e2fe-4dc8-b845-20624430c227"
        language-code="en"
    ></df-messenger>
</body>

</html>
