<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>singu/\arity</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <!-- Navigation Bar -->
    <!-- <nav>
        <a href="#">Home</a>
        <a href="#">Profile</a>
        <a href="#">Notifications</a>
        <a href="#">Messages</a>
        <a href="/registration" class="register-button">Register</a>
        <a href="/login" class="login-button">Login</a>
    </nav> -->
    {% include 'navbar.html' %}

    <!-- Header -->
    <header>
        <h1>singu/\arity</h1>
        <p>Connect and Share</p>
    </header>

    <!-- Main Content Sections -->
    <section>
        <h2>Section 1</h2>
        <p>Content goes here...</p>
    </section>

    <section>
        <h2>Section 2</h2>
        <p>Content goes here...</p>
    </section>

    <!-- In Case You Missed It Section -->
    <section>
        <h2>In Case You Missed It</h2>
        <p>Highlight some posts or updates...</p>
    </section>
    <pre>{{ ascii_art|safe }}</pre>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 singu/\arity</p>
    </footer>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Silgularity_Social_Network"
  agent-id="1fcde105-e2fe-4dc8-b845-20624430c227"
  language-code="en"
></df-messenger>
</body>

</html>
