<!-- login.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Singularity</title>

    <link rel="stylesheet" href="/static/login.css">
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>

<body>
    {% include 'navbar.html' %}
    <div>
    <form action="/login" method="POST" class="login-form">
        <h2>Login to singu/\arity</h2>
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Login</button>

        <!-- Forgot Password link -->
        <p><a href="/forgot-password">Forgot Password?</a></p>
    </form>
</div>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Silgularity_Social_Network"
  agent-id="1fcde105-e2fe-4dc8-b845-20624430c227"
  language-code="en"
></df-messenger>
</body>

</html>
