<!-- navbar.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <a href="{{ url_for('feed') }}">Home</a>
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('search') }}">Search</a>
        <a href="#">Notifications</a>
        <a href="#">Messages</a>
        {% if user %}
            <a href="/update-profile" class="login-button">Update Profile</a>
            <a href="{{ url_for('logout') }}" class="login-button">Logout</a>
        {% else %}
            <a href="/registration" class="register-button">Register</a>
            <a href="/login" class="login-button">Login</a>
        {% endif %}
    </nav>
</body>

</html>
