<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Обновление профиля</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registration.css') }}">
    <!-- Подключаем стили для navbar и другие необходимые стили -->
</head>

<body>
    <!-- Вставляем navbar -->
    {% include 'navbar.html' %}

    <div class="registration-form">
        <!-- Форма для обновления профиля -->
        <!-- Форма для обновления профиля -->
        <form action="/update_profile_post" method="POST" enctype="multipart/form-data">
            <!-- Existing user data -->
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" value="{{ user[1] }}">
            <br>
            <label for="description">Описание профиля:</label>
            <textarea id="description" name="description">{{ user.description }}</textarea>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ user[3] }}">
            <br>
            <label for="phone">Номер телефона:</label>
            <input type="tel" id="phone" name="phone" value="{{ user[7] }}">
            <br>
            <label for="profile_picture">Текущая фотография профиля:</label>
            {% if user_pic %}
            <img src="data:image/jpeg;base64, {{ user_pic }}" alt="User Profile Picture">

            {% else %}
                <p>No profile picture available</p>
            {% endif %}
            

            <br>
            <!-- Input for profile picture -->
            <label for="new_profile_picture">Выберите фотографию профиля:</label>
            <input type="file" id="new_profile_picture" name="new_profile_picture" accept="image/*">
            <br>

            <!-- Submit button -->
            <input type="submit" value="Обновить профиль">
        </form>
    </div>

    <!-- Дополнительный контент страницы, если необходимо -->
</body>

</html>
