<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='profile.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<body>
    
    <div class="left-image-container">
        <img src="{{ url_for('static', filename='part1.png') }}" alt="Animation 1" class="animation" id="animation1">
    </div>
    <div class="right-image-container">
        <img src="{{ url_for('static', filename='part2.png') }}" alt="Animation 2" class="animation" id="animation2">
    </div>
    <!-- Ваш остальной контент здесь -->

    <!-- Вставляем navbar -->
    {% include 'navbar.html' %}

    <!-- Контейнер для секций профиля и друзей -->
    <div class="profile-container">
        <!-- Секция профиля -->
        <section class="profile-info">
            <!-- Блок с именем пользователя, фотографией и описанием -->
            <div class="user-block">
                <div class="profile-picture">
                    <img src="{{ user[8] }}" alt="Фотография профиля">
                </div>
                <div class="user-info">
                    <div id="userId" data-user-id="{{ user[0] }}"></div>
                    <h2>First Name: {{ user[4] }} {{ user[5] }}</h2>
                    <!-- <p>User ID: {{ user[0] }}</p> -->
                    <p>Username: {{ user[1] }}</p>
                    <p>Email: {{ user[3] }}</p>
                    
                    <p>Date of Birth: {{ user[6] }}</p>
                    <p>Phone: {{ user[7] }}</p>
                    <button class="edit-profile-button">Редактировать профиль</button>
                </div>
            </div>
        </section>

        <!-- Секция друзей -->
        <section class="friends-list">
            <!-- Блок с друзьями пользователя -->
            <div class="friends-list-class">
                <h3>Friends</h3>
                <ul id="friendsList">
                </ul>
            </div>
        </section>
    </div>

    <!-- Секция с новостями -->
    <section class="news-feed">
        <!-- Блок с новостями пользователя -->
        <h3>Новости</h3>
        <div class="post">
            <p id="post-time"><a href="http://127.0.0.1:5000/wall">17:30</a></p>
            <p>Я сегодня слушал музыку</p>
            

            <!-- Время публикации поста с ссылкой на страницу wall -->
        </div>
        <!-- Добавьте новости по мере необходимости -->
    </section>

    <script src="{{ url_for('static', filename='animation.js') }}"></script>



</body>

</html>
