<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='profile.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<body>
    
    <div class="left-image-container">
        <img src="{{ url_for('static', filename='part1.png') }}" alt="Animation 1" class="animation" id="animation1">
    </div>
    <div class="right-image-container">
        <img src="{{ url_for('static', filename='part2.png') }}" alt="Animation 2" class="animation" id="animation2">
    </div>
    <!-- Ваш остальной контент здесь -->

    <!-- Вставляем navbar -->
    {% include 'navbar.html' %}

    <!-- Контейнер для секций профиля и друзей -->
    <div class="profile-container">
        <!-- Секция профиля -->
        <section class="profile-info">
            <!-- Блок с именем пользователя, фотографией и описанием -->
            <div class="user-block">
                <div class="profile-picture">
                    <img src="{{ user_pic }}" alt="Фотография профиля">
                    
                </div>
                <div class="user-info">
                    <div id="userId" data-user-id="{{ user[0] }}"></div>
                    <h2>Name: {{ user[4] }} {{ user[5] }}</h2>
                    <!-- <p>User ID: {{ user[0] }}</p> -->
                    <p>Username: {{ user[1] }}</p>
                    <p>Email: {{ user[3] }}</p>
                    
                    <p>Date of Birth: {{ user[6] }}</p>
                    <p>Phone: {{ user[7] }}</p>
                    {% if is_owner %}
                        <!-- If the viewer is the owner, display the edit profile button -->
                        <button class="edit-profile-button" id="editProfileButton">Редактировать профиль</button>
                    {% else %}
                        <!-- If the viewer is not the owner, display the add friend button -->
                        <button class="add-friend-button" data-user-id="{{ user[0] }}">Добавить в друзья</button>
                    {% endif %}
                </div>
            </div>
        </section>

        <!-- Секция друзей -->
        <section class="friends-list">
            <!-- Блок с друзьями пользователя -->
            <div class="friends-list-class">
                <h3>Friends</h3>
                <ul id="friendsList">
                </ul>
            </div>
        </section>
    </div>

    <!-- Секция с новостями -->
    <section class="news-feed">
        <!-- Блок с новостями пользователя -->
        <h3> {{user[4]}}'s Wall</h3>
        <br>
        {% if is_owner %}
        <form id="postForm" class="postForm">
            <textarea id="newPost" rows="4" placeholder="What's on your mind?"></textarea>
            <button type="button" id="postButton" class="postButton">Post</button>
            {% endif %}
        </form>
        <br>
        <br>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

        <!-- Display existing posts -->
        <div id="postsContainer">
            <!-- Existing posts will be displayed here -->
            {% for post in posts %}
            <div class="post">
                <div class="post-header">
                    <p class="post-time">{{ post.timestamp }}</p>
                </div>
                <div class="post-content">
                    <p>{{ post.content }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>


    <script src="{{ url_for('static', filename='animation.js') }}"></script>
        <!-- Pass current_user_id to JavaScript -->
        
        

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Silgularity_Social_Network"
  agent-id="1fcde105-e2fe-4dc8-b845-20624430c227"
  language-code="en"
></df-messenger>

</body>

</html>
