<!-- registration.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join singu/\arity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='registration.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="{{ url_for('static', filename='registration.js') }}"></script>

</head>

<body>
    {% include 'navbar.html' %}

    <div class="main-container"> <!-- Add a container for the main content -->
        <form action="/registration" method="POST" class="registration-form">
            <h2>Join singu/\arity</h2>
        
        <!-- Basic registration fields -->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        {% if error %}
            <div>{{ error }}</div>
        {% endif %}

        <div id="usernameAvailability"></div>

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required>

        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>

        <label for="phone">Mobile Phone:</label>
        <input type="tel" id="phone" name="phone" placeholder="+7" required>

        <!-- Password fields -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

        <button type="submit">Register</button>
    </form>
</div> <!-- End of main-container -->

<!-- Footer -->
<footer>
    <p>&copy; 2024 singu/\arity</p>
</footer>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Silgularity_Social_Network"
  agent-id="1fcde105-e2fe-4dc8-b845-20624430c227"
  language-code="en"
></df-messenger>
</body>

</html>